.input {
	width: 65%;
	float: left;
}

.pesquisa {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -44px;
	
	margin-right: 10px;
}

.botao {
	margin-left: 5px;
}

.barraPesquisa {
	margin:auto;
	width: 70%;
}

.carrinho{
	
    background-color:orange;
    border: none;
    font-size: 30px;
   
}

.usuarioLogado{
	
    background-color: #0d6efd;
    border: none;
}

.numeroCarrinho{
	background-color: #0d6efd;
    border: none;
    border-radius: 10px;
    margin-left: -10px;
}

