.input {
	width: 65%;
	float: left;
}

.pesquisa {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-right: 10px;
}

.botao {
	margin-left: 5px;
}

.barraPesquisa {
	margin:auto;
	width: 70%;
}


.dropdown-item{
	text-decoration: none;
	color:white;
}